In [3]:
import os
import pandas as pd

folder_path = 'data'

csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

dataframes = {}

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    
    df = pd.read_csv(file_path)
    
    file_name = os.path.splitext(file)[0]
    dataframes[file_name] = df

/var/folders/m1/vs81clnx7bz8bktgq7j0f2cw0000gn/T/ipykernel_67082/417023630.py:13: DtypeWarning: Columns (2,3,4,5,8,9,12,13,16,17,18,19,20,21,24,25,26,27,28,29,30,31,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,344,358,370,382,396,408,414,426,446,450,454,458,462,466,484,498,504,506,512,518,532,556,612) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/m1/vs81clnx7bz8bktgq7j0f2cw0000gn/T/ipykernel_67082/417023630.py:13: DtypeWarning: Columns (2,3,4,5,6,7,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,204,205,206,207,208,209,210,211,212,213,214,215,216,217,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,298,318,340,362,376,386,400,410,430,438,446,466,472,490,506,520,538,558) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [138]:
total_pop = dataframes['total population'][['GEO_ID','B01003_001E']].copy()
total_pop.columns = total_pop.iloc[0,:]
total_pop.drop(total_pop.index[0],inplace=True)
total_pop.columns.values[1] = 'total pop'
total_pop['total pop scaled'] = pd.to_numeric(total_pop['total pop'],errors='coerce') # since only standardization will be z-score, will write as scaled and others aswell
total_pop['total pop'].isnull().any()
total_pop.isnull().sum()
total_pop.sort_values(by='Geography',inplace=True)

In [145]:
# DP02_0014E stimate!!HOUSEHOLDS BY TYPE!!Total households!!Households with one or more people under 18 years 
# DP02_0016E Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Average household size 
# DP02_0002E Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household 
# DP02_0022E Estimate!!RELATIONSHIP!!Population in households!!Child
# DP02_0024E Estimate!!RELATIONSHIP!!Population in households!!Other nonrelatives
# DP02_0023E Estimate!!RELATIONSHIP!!Population in households!!Other relatives
# DP02_0037E Estimate!!FERTILITY!!Number of women 15 to 50 years old who had a birth in the past 12 months
# DP02_0060E Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Less than 9th grade
# DP02_0061E Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!9th to 12th grade, no diploma
# DP02_0062E Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency)
# DP02_0065E Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree
# DP02_0066E Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree

pop_evars = [
    'GEO_ID','DP02_0014E','DP02_0016E','DP02_0002E','DP02_0022E','DP02_0024E','DP02_0023E',
'DP02_0037E','DP02_0060E','DP02_0061E','DP02_0062E','DP02_0065E','DP02_0066E'
]

pop_traits = dataframes['population traits'][pop_evars].copy()
pop_traits.columns = pop_traits.iloc[0,:]
pop_traits.drop(pop_traits.index[0],inplace=True)
pop_traits.sort_values(by='Geography',inplace=True)
pop_traits.rename(columns={pop_traits.columns[1]: "<18yrs"},inplace=True)
pop_traits.rename(columns={pop_traits.columns[2]: "avg household size scaled"},inplace=True)
pop_traits.rename(columns={pop_traits.columns[3]: "married household"},inplace=True)
pop_traits.rename(columns={pop_traits.columns[4]: "child"},inplace=True)
pop_traits.rename(columns={pop_traits.columns[5]: "nonrelatives"},inplace=True)
pop_traits.rename(columns={pop_traits.columns[6]: "other relatives"},inplace=True)
pop_traits.rename(columns={pop_traits.columns[7]: "new births"},inplace=True)
pop_traits.rename(columns={pop_traits.columns[8]: "<9th grade"},inplace=True)
pop_traits.rename(columns={pop_traits.columns[9]: "9th-12th grade"},inplace=True)
pop_traits.rename(columns={pop_traits.columns[10]: "HS graduate"},inplace=True)
pop_traits.rename(columns={pop_traits.columns[11]: "college graduate"},inplace=True)
pop_traits.rename(columns={pop_traits.columns[12]: "grad graduate"},inplace=True)

pop_traits['avg household size scaled'] = pd.to_numeric(pop_traits['avg household size scaled'],errors='coerce')

pop_traits['<18yrs scaled'] = pop_traits['<18yrs'].astype(int) / total_pop['total pop'].astype(int)
pop_traits['married household scaled'] = pop_traits['married household'].astype(int) / total_pop['total pop'].astype(int)
pop_traits['child scaled'] = pop_traits['child'].astype(int) / total_pop['total pop'].astype(int)
pop_traits['nonrelatives scaled'] = pop_traits['nonrelatives'].astype(int) / total_pop['total pop'].astype(int)
pop_traits['other relatives scaled'] = pop_traits['other relatives'].astype(int) / total_pop['total pop'].astype(int)
pop_traits['new births scaled'] = pop_traits['new births'].astype(int) / total_pop['total pop'].astype(int)
pop_traits['<9th grade scaled'] = pop_traits['<9th grade'].astype(int) / total_pop['total pop'].astype(int)
pop_traits['9th-12th grade scaled'] = pop_traits['9th-12th grade'].astype(int) / total_pop['total pop'].astype(int)
pop_traits['college graduate scaled'] = pop_traits['college graduate'].astype(int) / total_pop['total pop'].astype(int)
pop_traits['grad graduate scaled'] = pop_traits['grad graduate'].astype(int) / total_pop['total pop'].astype(int)

In [147]:
med_income = dataframes['median income'].copy()
med_income = med_income[['GEO_ID','B19013_001E']]
med_income.columns = med_income.iloc[0,:]
med_income.drop(med_income.index[0],inplace=True)
med_income.columns.values[1] = 'median household income'
med_income['median household income scaled'] = pd.to_numeric(med_income['median household income'], errors='coerce')
med_income.dropna(subset=['median household income scaled'],inplace=True)
med_income.isnull().sum()

0
Geography                         0
median household income           0
median household income scaled    0
dtype: int64

In [141]:
unemployment = dataframes['unemployment'][['GEO_ID','B23025_002E', 'B23025_007E']].copy()
unemployment.columns = unemployment.iloc[0,:]
unemployment.drop(unemployment.index[0],inplace=True)
unemployment.columns.values[1] = 'in labor force'
unemployment.columns.values[2] = 'not in labor force'
# unemployment['in labor force'] = pd.to_numeric(unemployment['in labor force'],errors='coerce')
# unemployment['in labor force'].isnull().any()
unemployment['in labor force scaled'] = unemployment['in labor force'].astype(int) / total_pop['total pop'].astype(int)
unemployment['not in labor force scaled'] = unemployment['not in labor force'].astype(int) / total_pop['total pop'].astype(int) # check up and total_pop in same order
unemployment.dropna(subset=['in labor force scaled','not in labor force scaled'],inplace=True)
unemployment.isnull().sum()

0
Geography                    0
in labor force               0
not in labor force           0
in labor force scaled        0
not in labor force scaled    0
dtype: int64

In [148]:
# B25034_002E	Estimate!!Total:!!Built 2014 or later	
# B25034_011E	Estimate!!Total:!!Built 1939 or earlier	
# B25034_003E Estimate!!Total:!!Built 2010 to 2013	

home_built_evars = ['GEO_ID','B25034_002E','B25034_011E','B25034_003E']
home_built_year = dataframes['year home built'][home_built_evars].copy()
home_built_year.columns = home_built_year.iloc[0,:]
home_built_year.drop(home_built_year.index[0],inplace=True)
home_built_year.columns.values[1] = '2014 or later'
home_built_year.columns.values[2] = '1939 or earlier'
home_built_year.columns.values[3] = '2010 to 2013'
home_built_year['2014 or later'] = pd.to_numeric(home_built_year['2014 or later'],errors='coerce')
home_built_year['1939 or earlier'] = pd.to_numeric(home_built_year['1939 or earlier'],errors='coerce')
home_built_year['2010 to 2013'] = pd.to_numeric(home_built_year['2010 to 2013'],errors='coerce')
home_built_year.isnull().sum()

0
Geography          0
2014 or later      0
1939 or earlier    0
2010 to 2013       0
dtype: int64

In [149]:
median_home_val = dataframes['median home value'][['GEO_ID','B25077_001E']].copy()
median_home_val.columns = median_home_val.iloc[0,:]
median_home_val.drop(median_home_val.index[0],inplace=True)
median_home_val.columns.values[1] = 'median home value'
median_home_val['median home value scaled'] = pd.to_numeric(median_home_val['median home value'],errors='coerce')
median_home_val.dropna(subset='median home value scaled',inplace=True) # 1333 - 1310 drops 23 rows
median_home_val.isnull().sum()

0
Geography                   0
median home value           0
median home value scaled    0
dtype: int64

In [150]:
# B25058_001E median rent
med_rent = dataframes['median rent'][['GEO_ID','B25058_001E']].copy()
med_rent.columns = med_rent.iloc[0,:]
med_rent.drop(med_rent.index[0],inplace=True)
med_rent.columns.values[1] = 'median rent'
med_rent['median rent scaled'] = pd.to_numeric(med_rent['median rent'],errors='coerce')
med_rent['median rent scaled'].isnull().any() # there is null
med_rent.dropna(subset='median rent scaled',inplace=True) #1333 - 1290 = 43 rows dropped
med_rent.isnull().sum()

0
Geography             0
median rent           0
median rent scaled    0
dtype: int64

In [151]:
tenure = dataframes['tenture'].copy()
tenure.columns = tenure.iloc[0,:]
tenure.drop(tenure.index[0],inplace=True)
tenure.columns.values[2] = 'total'
tenure.columns.values[4] = 'owner occupied'
tenure.columns.values[6] = 'renter occupied'
tenure['owner occupied scaled'] = tenure['owner occupied'].astype(int)/ tenure['total'].astype(int)
tenure['renter occupied scaled'] = tenure['renter occupied'].astype(int) / tenure['total'].astype(int)
tenure.dropna(subset='owner occupied scaled',inplace=True)
tenure.dropna(subset='renter occupied scaled',inplace=True)
tenure.drop(columns=tenure.columns[8], axis=1,inplace=True)
tenure.isnull().sum()

0
Geography                                   0
Geographic Area Name                        0
total                                       0
Margin of Error!!Total:                     0
owner occupied                              0
Margin of Error!!Total:!!Owner occupied     0
renter occupied                             0
Margin of Error!!Total:!!Renter occupied    0
owner occupied scaled                       0
renter occupied scaled                      0
dtype: int64

In [4]:
vacant = dataframes['vacant occupied'].copy()
vacant.columns = vacant.iloc[0,:]
vacant.drop(vacant.index[0],inplace=True)
vacant.columns.values[2] = 'total'
vacant.columns.values[4] = 'occupied'
vacant.columns.values[6] = 'vacant'
vacant['occupied_scaled'] = vacant['occupied'].astype(int) / vacant['total'].astype(int)
vacant['vacant_scaled'] = vacant['vacant'].astype(int) / vacant['total'].astype(int)
vacant.dropna(subset='occupied_scaled',inplace=True)
vacant.dropna(subset='vacant_scaled',inplace=True)
vacant.isnull().sum()

0
Geography                               0
Geographic Area Name                    0
total                                   0
Margin of Error!!Total:                 0
occupied                                0
Margin of Error!!Total:!!Occupied       0
vacant                                  0
Margin of Error!!Total:!!Vacant         0
NaN                                  1328
occupied_scaled                         0
vacant_scaled                           0
dtype: int64

In [ ]:
dfs = [pop_traits, total_pop, med_income, unemployment, home_built_year, med_rent,vacant, tenure]

X_scaled = pd.DataFrame(median_home_val[['Geography','median home value scaled']].copy())

for df in dfs:
    for col in df.columns:
        if isinstance(col, str) and "scaled" in col:
            X_scaled = pd.merge(X_scaled,df[['Geography',col]],on='Geography',how='outer')

X_scaled.columns.values[0]='GEOID'
X_scaled.dropna(inplace=True)
X_scaled.reset_index(inplace=True,drop=True)
X_scaled.isna().sum()

0
GEOID                             0
median home value scaled          0
avg household size scaled         0
<18yrs scaled                     0
married household scaled          0
child scaled                      0
nonrelatives scaled               0
other relatives scaled            0
new births scaled                 0
<9th grade scaled                 0
9th-12th grade scaled             0
college graduate scaled           0
grad graduate scaled              0
total pop scaled                  0
median household income scaled    0
in labor force scaled             0
not in labor force scaled         0
median rent scaled                0
occupied_scaled                   0
vacant_scaled                     0
owner occupied scaled             0
renter occupied scaled            0
dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler

first_column = X_scaled.iloc[:, 0]
data_to_standardize = X_scaled.iloc[:, 1:]

scaler = StandardScaler()
standardized_data = scaler.fit_transform(data_to_standardize)

standardized_df = pd.DataFrame(standardized_data, columns=data_to_standardize.columns)
X = pd.concat([first_column, standardized_df], axis=1)
X.to_csv('X.csv',index=False)

,GEOID,median home value scaled,avg household size scaled,<18yrs scaled,married household scaled,child scaled,nonrelatives scaled,other relatives scaled,new births scaled,<9th grade scaled,...,grad graduate scaled,total pop scaled,median household income scaled,in labor force scaled,not in labor force scaled,median rent scaled,occupied_scaled,vacant_scaled,owner occupied scaled,renter occupied scaled
0,1400000US17031010100,0.014803,-1.458517,-0.518340,-0.355526,-0.695741,-0.089386,-1.066683,-0.999207,-0.479830,...,0.447521,0.411278,-0.392888,0.613725,-0.376523,-0.590846,-0.433689,0.433689,-1.015774,1.015774
1,1400000US17031010201,-0.639011,-0.154082,0.207747,-0.504257,0.340080,-0.218594,-0.213454,1.431899,0.398229,...,-0.041323,2.063493,-0.839603,-0.732894,0.146927,-0.169549,0.458153,-0.458153,-1.228533,1.228533
2,1400000US17031010202,-0.696517,-0.396334,-0.375113,-1.164928,-0.307973,-0.126725,-0.248118,1.629347,0.700204,...,-0.216666,-0.454333,-0.803307,-0.092227,0.230470,-0.299179,0.521879,-0.521879,-1.390564,1.390564
3,1400000US17031010300,-0.373360,-1.719404,-1.959879,-0.386230,-1.606859,-0.296242,-1.229540,-0.867290,0.194233,...,0.408628,1.277471,-0.378596,0.379667,0.746160,-0.251814,0.386391,-0.386391,-0.966317,0.966317
4,1400000US17031010400,-0.460869,-1.887117,-2.447452,-1.486224,-2.198268,0.614063,-1.253567,-1.029810,-0.738000,...,-0.018347,0.730219,-0.859180,-0.238297,1.706153,-0.436287,0.444687,-0.444687,-1.460953,1.460953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,1400000US17031843600,-0.011449,-1.104456,0.589933,-1.630371,-0.106577,-0.269014,0.335310,-0.528571,-0.649417,...,-0.003960,-0.547866,-0.651516,0.416757,-0.851945,-0.052384,0.182352,-0.182352,-1.594972,1.594972
1251,1400000US17031843700,1.949994,-0.414969,1.485174,1.204232,-0.074958,-0.575044,-0.998671,0.104041,0.016368,...,1.585677,-0.906310,2.342064,0.501662,-1.312837,-0.129663,0.738756,-0.738756,0.463988,-0.463988
1252,1400000US17031843800,-0.749647,-0.694491,0.452455,-0.230830,-0.102404,-0.611823,-0.135478,0.744458,-0.319356,...,-1.074881,-1.429744,-1.214589,0.395604,0.429013,-0.256800,-1.399171,1.399171,-0.481092,0.481092
1253,1400000US17031843900,-0.746522,-1.775309,-0.261309,-1.380892,-0.670984,-0.386739,-0.818134,0.729509,-0.131309,...,0.106498,-0.292249,-0.463915,-0.145773,0.620602,-0.633225,-0.182564,0.182564,-0.613897,0.613897
1254,1400000US17031844700,-1.032800,-0.750395,0.090152,-1.662847,0.074490,-0.193730,0.836581,-1.288683,0.550847,...,-1.045206,-1.442525,-1.159202,-0.033324,0.546272,-0.463709,-1.950549,1.950549,-1.144112,1.144112